{
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/globals.css",
  "tailwindFunctions": ["cva", "twMerge", "clsx"]
}
